body{
    background-color: black;
}
#header-part
{
    margin-top: -10px;
    width: 1100px;
    height: 70px;
    margin-left: 90px;
    display: flex;
    display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: rgb(34, 34, 34);
   
}
#pannel
{
    width: 717px;
    height: 18px;
    display: flex;
    justify-content: space-between;
}
#pannel a
{
    text-decoration: none;
    color: grey;
}
#links{
    margin-left: 100px;
    width: 107px;
    height: 17px;
    display: flex;
    justify-content: space-between;
}
#second-part
{
    display: flex;
}
#bio-outerbox
{
    margin-left: 180px;
    margin-top: 20px;
    height: 247px;
    width: 538px;
   
}
#bio-innerbox
{
width: 538px;
height: 154px;

}
#nameplate{
    color: white    ;
  display: flex;
  justify-content: left;
    width: 426px;
    height: 72px;
}
#desc
{
    color: grey;
    width: 492px;
    height: 72px;
}
#bio-outerbox button
{
    width: 307px;
    height: 63px;
   background-color: rgb(98, 186, 27);
}
#myphoto
{
    width: 350px;
    height: 350px;

}
#myphoto img
{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}
